/* для тестирования */
body {
	background: gray;
	color: white;
}
/*Главные блоки*/
.container,
.main-footer { 
	border: 3px solid red;
}
/*второстепенные блоки*/
.main-navigator,
.user-block,
.main-logo,
.advantage,
.index-content,
.footer-adress,
.footer-social,
.footer-copyright,
.content-navigator {
	border: 2px solid blue;

} 
/*вложенные во второстепенные блоки*/
.advantage-element,
.index-content-left,
.index-content-right,
.item-gallery,
.item-description,
.price-content-left,
.price-content-right { 
	border: 1px solid yellow;

}

/*-------------------*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


/*------Сетка-------------*/
/*----Общее------*/
.container {
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
} 

.main-header {
	margin-bottom: 60px;
}

.main-navigator {
	width: 780px;
	float: left;
}

.user-block {
	width: 140px;
	float: right;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
} 

.footer-adress {
	width: 320px;
	margin-right: 60px;
	float: left;
}

.footer-social {
	width: 180px;
	margin-right: 60px;
	float: left;
	text-align: center;
}

.footer-copyright {
	width: 140px;
	float: right;
	text-align: center;
}

/*---index.html---*/
.main-logo {
	width: 368px;
	height: 204px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.advantage {
	margin-bottom: 80px;
}
.advantage-element {
	margin-right: 20px;
	width: 300px;
	float: left;
	text-align: center;
}

.advantage-element:last-child {
	margin-right: 0;
}

.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;
}

.index-content-left {
	width: 380px;
	float: left;
}

.index-content-right {
	width: 300px;
	float: right;
}

/*---item.html---*/
.content-navigator {
	margin-bottom: 55px;
}

.item-gallery {
	width: 460px;
	float: left;
}

.item-description {
	width: 390px;
	float: right;
}

.item-presence {
	float: left;
}

.item-code {
	float: right;
}
/*---price.html---*/
.price-content-left {
	float: left;
	width: 400px;
}

.price-content-right {
	float: right;
	width: 460px;
}

/*---shop.html---*/
.shop-sorting-item {
	float: left;
	width: 220px;
}

.shop-item {
	float: right;
	width: 700px;
}






.shop-item-description figure {
	margin: 0;
}

.shop-item-description {
	float: left;
	width: 220px;
	margin-right: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.shop-item-description:nth-child(3n) {
	margin-right: 0;
}

.shop-btn-page {
	padding-top: 45px;
}